.App {
  text-align: center;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  min-width: 1242px;
}

a {
  text-decoration: none;
}

a p {
  text-decoration: none;
  color: rgba(255, 224, 250, 1);
  text-align: center;
}

a p:hover {
  color: rgb(255, 94, 228);
}

.contentPage {
  min-height: 100vh;
}

.contentPage h1 {
  font-family: 'Streamster';
  font-weight: 900;
  color: rgb(255, 224, 250);
  letter-spacing: 3px;
  text-decoration: underline;
}

.footTitle {
  font-family: 'Streamster';
  font-weight: 900;
  color: rgb(255, 224, 250);
  margin: 0 2vw;
}

.post {
  background-color: rgb(145, 158, 202);
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
  width: 80%;
}

.App-header {
  background: url('assets/dreams.jpg');
  background-size: 80%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  position: relative;
}

.myTitle {
  position: absolute;
  top: 80px;
  right: 15%;

}

.App-header h1 {
  font-family: 'Streamster';
  font-size: 140px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-weight: 900;
  color: rgb(255, 224, 250);
  margin: 0;
}

.App-header h2 {
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin: 0;
  color: rgb(255, 224, 250);
}

.introText {
  position: absolute;
  top: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0));
  padding: 25px;
  border-radius: 5px;
  width: 600px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 224, 250);
  box-shadow: 0px 3px 0px rgb(255, 224, 250);
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.App-link {
  color: #61dafb;
}


a img {
  height: 100px;
  width: auto;
  margin: 10px auto;
}

.content {
  padding: 0 0;
  color: white;
}

.submitty {
  display: block;
  margin: 10px auto;
  padding: 5px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: justify;
  margin: 0 auto;
  /* background-color: rgb(18, 25, 37); */
  padding: 20px 10px;
}

.pSection {
  margin: 10px;
}

.pSection li {
  list-style: none;
  color: rgb(66, 195, 255);
}

.pSection p {
  margin: 5px;
}

.projectPic {
  position: relative;
  background-image: linear-gradient(rgb(0, 1, 56), rgb(95, 0, 133));
  height: 250px;

  box-shadow: 0px 0px 5px black;
}

.projectPic img {
  height: 210px;
  width: 90%;
  object-fit: cover;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

.projectPic:hover .pic2 {
  display: none;
}

.skillsPic {
  width: 150px;
  margin: 0 auto;
}

.myFaceBack1 {
  position: absolute;
  left: 5%;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 224, 250, 0.99));
  z-index: 2;
  margin: 0;
  border-radius: 100% 100% 5px 100%;
  top: 80px;
  height: 280px;
  width: 280px;
  box-shadow: 0px 0px 5px black;
}

.myFaceBack2 {
  position: absolute;
  background-image: linear-gradient(to bottom right, rgba(60, 60, 170, 0), rgba(0, 0, 0, 0.99));
  z-index: 3;
  top: -10px;
  left: -10px;
  border-radius: 100% 100% 5px 100%;
  height: 280px;
  width: 280px;
}

.myFace {
  width: auto;
  height: 280px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 0px 5px black;
  position: absolute;
  z-index: 4;
  top: -10px;
  left: -10px;
}



#iconPack{
  margin: 0 2vw !important;
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80px;
  
}

.icons {
  margin: 10px;
}

.icons li {
  display: inline;
  margin: 10px;
}

.icon{
  display: inline-block;
  margin: 0 1vw !important;
  width: 72px;
  height: auto;
}

.icon img {
  width: 72px;
  height: auto;
}

.icon2 img, .icon2 {
  width: 160px;
  height: auto;
  margin: 0 auto;
}

.myContact {
  background-color: rgba(255, 224, 250, 1);
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 30vh 5%;
}

.mySkills {
  background-color: rgb(18, 25, 37);
  min-height: 90vh;
 
}

.mySkills p, .mySkills li {
  color: rgb(66, 195, 255);
}

.myProjects {
  background-color: rgb(18, 25, 37);
}

.myAbout {
  background-color: rgb(18, 25, 37);
  padding: 5vh 15vw;
}

.myAbout a {
  color:rgba(255, 224, 250, 1);
}

.myAbout a:hover {
  color: rgb(255, 94, 228);
}

.aboutInfo {
  text-align: justify;
  margin-bottom: 5vh;
}

.gridListContainer {
  width: 60vw;
  margin: 0 auto;
}

.gridList {
  height: 600px;
}

a .MuiButtonBase-root p {
  color: black;
}

.footcon {
  width: 50px;
  height: auto;
}

@media only screen and (max-width: 1242px) {
  body {
    min-width: 320px;
  }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 480px) {
  body {
    min-width: 320px;

  }
  .App-header {
    background-size: 100%;
    padding: 0;
  }

  .App-header h1 {
    font-size: 10vh;
    text-align: center;
    margin: 0 auto;
  }

  .myTitle {
    top: 20px;
    left: auto;
    right: auto;
    width: 80%;
  }

  .myFace {
    height: 200px;
    width: auto;
  }

  .myFaceBack1 {
    top: 220px;
    left: 25vw;
    right: auto;
    height: 200px;
    width: 200px;
    margin-bottom: 100px;
  }

  .myFaceBack2 {
    height: 200px;
    width: 200px;
    
  }

  .introText {
    width: 80%;
  }

  .project {
    display: block;
  }

  #iconPack {
    display: block;
    padding: 0;
    margin: 0;
  }

  .mySkills {
    padding: 3vh 0;
  }

  .pSection ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .icons ul {
    padding: 0;
  }

  .myContact {
    display: block;
    padding: 5vh 0;
  }

  .tech {
    font-size: 20px;
  }

  .myProjects {
    padding-bottom: 5vh;
  }

  
  
}